.bg-card1 {
    background-color: #A569BD;
}

.bg-card2 {
    background-color: #C0392B;
}

.bg-card3 {
    background-color: #D35400;
}
.bg-card4 {
    background-color: #34495E;
}

.card-w-33 {
    width: 33.33%;
}

.nav-link{
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: var(--bs-nav-link-color);
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    margin: 20px;
}
.navbar-brand{
    padding-top: var(--bs-navbar-brand-padding-y);
    padding-bottom: var(--bs-navbar-brand-padding-y);
    margin-right: var(--bs-navbar-brand-margin-end);
    color: var(--bs-navbar-brand-color);
    text-decoration: none;
    white-space: nowrap;
    font-size: 35px;
    font-family: "Cookie",cursive;
    margin-left: 50px;
}
.navbar-nav{
    --bs-nav-link-padding-x: 0;
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-color: var(--bs-navbar-color);
    --bs-nav-link-hover-color: var(--bs-navbar-hover-color);
    --bs-nav-link-disabled-color: var(--bs-navbar-disabled-color);
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin: auto;
    margin-bottom: 0;
    list-style: none;
}


