body{
    overflow: hidden;
}
.body {

    font-family: 'Montserrat', sans-serif, ;
    font-weight: 400;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: .1em .1em 0 rgba(0,0,0,0.3);
    font-size: 1.3em;
    height: 100vh;
    background-image: linear-gradient(to right top, #99bbcb, #a5c7d7, #b1d4e2, #bde0ee, #c9edfa);
}
h1 {
    margin: 0 auto;
    font-size: 2.2em;
    text-align: center;
    color: #fff;
    font-size: 5em;
}
.body.sunny {
    background-image: linear-gradient(to right top, #ff4e50, #ff713e, #ff932b, #ffb41d, #f9d423);
}
.body.cloudy {
    background-image: linear-gradient(to right top, #63747c, #71858e, #7f96a0, #8da8b2, #9bbac5);
}
.body.rainy {
    background-image: linear-gradient(to right top, #637c7b, #718e8c, #7ea09e, #8db2b0, #9bc5c3);
}
.fa{
    font-size: 36px;
    color: #ca1515;
}
.m{
    font-size: 36px;
    color: #ca1515;
    /* position: absolute; */
    /* left: 0; */
    /* top: 4px; */
    margin-left: 290px;
}
.text{
    font-size: 14px;
    color: #666666;
    line-height: 24px;
}

.des{
    width: 70%;
   
}
.scoial{
    transition: all 2s;
}
.scoial:hover{
color: white;
background-color: #666666;

}
.bg-color1{
    background-color: #e1e1e1;
}
.bg-color2{
    background-color: #f4f4f4;
}

.b{
    font-size: 36px;
    color: #ca1515;
    margin-left: 285px;
}
.c{
    font-size: 36px;
    color: #ca1515;
    margin-left: 290px;
}
.name-service{
    font-size: 20px;
    font-weight: 600;
}
.mar{
    margin-bottom: 27px;
}

/* Navbar start */
.navbar{
    background-color: #111111;
    opacity: 0.9;
    padding: 0;
}
.nav-link{
    position: relative;
}
.nav-link:after{
    content: "";
    position: absolute;
    /* background-color: #ff3c78; */
    height: 3px;
    width: 0;
    left: 80px;
    bottom: 10px;
    font-size: 20px;
    transition: 0.9s;
}
.navbar-brand{
padding-top: var(--bs-navbar-brand-padding-y);
padding-bottom: var(--bs-navbar-brand-padding-y);
margin-right: var(--bs-navbar-brand-margin-end);
color: var(--bs-navbar-brand-color);
text-decoration: none;
white-space: nowrap;
font-size: 35px;
font-family: "Cookie",cursive;
margin-left: 50px;
}
.navbar-brand .text-white{
    font-family: "Cookie",cursive;
}
.navbar-nav{
--bs-nav-link-padding-x: 0;
--bs-nav-link-padding-y: 0.5rem;
--bs-nav-link-color: var(--bs-navbar-color);
--bs-nav-link-hover-color: var(--bs-navbar-hover-color);
--bs-nav-link-disabled-color: var(--bs-navbar-disabled-color);
display: flex;
flex-direction: column;
padding-left: 0;
margin: auto;
margin-bottom: 0;
list-style: none;
/* text-align: right; */
/* margin-left: auto; */
}
.nav-link{
display: block;
padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
font-size: var(--bs-nav-link-font-size);
font-weight: var(--bs-nav-link-font-weight);
color: var(--bs-nav-link-color);
text-decoration: none;
transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
margin: 20px;
}
/* Navbar end */

/* Header content start */
/*.header-content{
    margin-top: 56px;
    background-image: url(../images/banner-1.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position:top center;
    height: 87vh; 
    position: relative;
    background-size: 120% auto;
}*/
/* Header content end */

/* bootstrap Carousel start */
/*.carousel-caption{
    bottom: 150px;
}
.carousel-inner{
    display: contents;
}
.carousel-item{
    transition: 2s ease 0s;
}
.carousel-item h5{
    color: #ca1515;
}
.carousel-item h1{
    color: #111111;
    font-family: "Cookie", cursive;
}
.shop__now{
    color: #111111;
    font-size: 14px;
    font-weight: 600;
    padding-bottom: 3px;
    display: inline-block;
    padding-top: 10px;
}
a:hover {
    color:#111111;
}

.carousel-indicators [data-bs-target]{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #a1a1a1;
    margin-right: 10px;

}
.carousel-indicators .active {
    background-color: #ca1515; 
}
.line{
    display: block;
    background-color: #ca1515;
    text-align: center;
    margin: auto;
    width: 87px;
    height: 2px;
}*/
/* Bootstrap Carousel end */

/* Owl carousel start */

.background__img{
    background-image: url(../images/banner-1.jpg);
    background-size: cover;
    height: 87vh;
    background-position:top center;
    margin-top: 56px;
}
@media screen and (max-width:576px){
    .background__img{
        height: 90vh;
    }
}
@media screen and (min-width: 577px) and (max-width:768px){
    .background__img{
        height: 55vh;
    }
}
@media screen and (min-width: 769px) and (max-width: 992px){
    .background__img{
        height: 47vh;
    }
}
@media screen and (min-width: 993px) and (max-width: 1279px){
    .background__img{
        height: 87vh;
    }
}
.slider{
    padding: 150px 0 0;
}
.owl-carousel h5{
    color: #ca1515; 
}
.owl-carousel h1{
    color: #111111;
    font-family: "Cookie", cursive;
}
@media screen and (max-width:576px){
    .owl-carousel h1{
        font-size: 55px;
    }
}
.slider.owl-carousel .owl-dots{
    position: absolute;
    left: 0;
    top: 430px;
    width: 100%;
    text-align: center;
}
.slider.owl-carousel button{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #a1a1a1;
    margin-right: 10px;
}

.slider.owl-carousel button.active{
    background: #ca1515; 
}
.shop__now{
    color: #111111;
    font-size: 14px;
    font-weight: 600;
    padding-bottom: 3px;
    display: inline-block;
    padding-top: 10px;
}
a:hover {
    color:#111111;
}
.line{
    display: block;
    background-color: #ca1515;
    text-align: center;
    margin: auto;
    width: 87px;
    height: 2px;
}
/* Owl carousel end */

/* Categories section start */
.categories{
    overflow: hidden;
    margin-top: 20px;
}
.categories h1{
    color: #111111;
    font-family:  "Cookie", cursive;
    margin-left: 0;
}
.categories h4{
    color: #111111;
    font-weight: 600;
}
.categories p{
    color: #666666; 
}
.women{
    background-image: url(../images/category-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 638px;
    background-position: top center;
    display: flex;
    align-items: center;
    margin-right: 25px;
}
@media screen and (max-width:576px){
    .women{
        margin-right: auto;
        height: 100vh;
        margin-bottom: 10px;
    }
    .women h1{
        font-size: 63px;;
    }
}
@media screen and (min-width: 577px) and (max-width:768px){
    .women{
        margin-right: auto;
        margin-bottom: 10px;
    } 
}
@media screen and (min-width: 769px) and (max-width: 992px){
    .women{
        margin-right: auto;
        margin-bottom: 10px;
    } 
}
@media screen and (min-width: 993px) and (max-width: 1200px){
    .women{
        margin-right: auto;
    } 
}
.men{
    background-image: url(../images/category-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 314px;
    background-position: top center;
    display: flex;
    align-items: center;
    margin-bottom:10px;
    margin-right: 10px;

}
@media screen and (max-width:576px){
    .men{
        padding-left: 25px;
    }
    
}
@media screen and (min-width: 577px) and (max-width:768px){
    .men{
        padding-left: 25px;
    }
}
@media screen and (min-width: 769px) and (max-width: 992px){
    .men{
        padding-left: 20px;
    }
}
@media screen and (min-width: 993px) and (max-width: 1200px){
    .men{
        padding-left: 25px;
    }
}
.kids{
    background-image: url(../images/category-3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 314px;
    background-position: top center;
    display: flex;
    align-items: center;
    margin-bottom:10px;
}
@media screen and (max-width:576px){
    .kids{
        padding-left: 25px;
    } 
}
.cosmetics{
    background-image: url(../images/category-4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 314px;
    background-position: top center;
    display: flex;
    align-items: center;
    margin-right: 10px;
}
@media screen and (max-width:576px){
    .cosmetics{
        padding-left: 25px;
        margin-bottom: 10px;
    } 
}
@media screen and (min-width: 577px) and (max-width:768px){
    .cosmetics{
        padding-left: 25px;
    }
}
@media screen and (min-width: 769px) and (max-width: 992px){
    .cosmetics{
        padding-left: 20px;
    }
}
@media screen and (min-width: 993px) and (max-width: 1200px){
    .cosmetics{
        padding-left: 25px;
    }
}
.accessories{
    background-image: url(../images/category-5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 314px;
    background-position: top center;
    display: flex;
    align-items: center;
}
@media screen and (max-width:576px){
    .accessories{
        padding-left: 25px;
        margin-bottom: 10px;
    } 
}
.category__content{
   padding-left:70px;
}
@media screen and (max-width:576px){
    .category__content{
        padding-left:40px;
     }
}

.category__content__small{
    padding-left:30px;
 }
.categories p{
    font-size: 14px;
    margin-bottom: 10px;
}
@media screen and (min-width: 577px) and (max-width:768px){
    .categories p{
        width: 65%;
    }
}
@media screen and (min-width: 769px) and (max-width: 992px){
    .categories p{
        width: 60%;
    }
}
@media screen and (min-width: 993px) and (max-width: 1200px){
    .categories p{
        width: 93%;
    }
}
.categories .line{
    margin: 0;
}
/* Categories section end */
/* Smooth scroll btn start */
#btnup{
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}
/* Smooth scroll btn end */
/* Loading screen start */
.loading{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99999;
    font-size: 40px;
    background-color:rgb(240, 128, 128);
    display: flex;
}
.lds-heart {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    transform: rotate(45deg);
    transform-origin: 40px 40px;
  }
  .lds-heart div {
    top: 32px;
    left: 32px;
    position: absolute;
    width: 32px;
    height: 32px;
    background: #fff;
    animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  .lds-heart div:after,
  .lds-heart div:before {
    content: " ";
    position: absolute;
    display: block;
    width: 32px;
    height: 32px;
    background: #fff;
  }
  .lds-heart div:before {
    left: -24px;
    border-radius: 50% 0 0 50%;
  }
  .lds-heart div:after {
    top: -24px;
    border-radius: 50% 50% 0 0;
  }
  @keyframes lds-heart {
    0% {
      transform: scale(0.95);
    }
    5% {
      transform: scale(1.1);
    }
    39% {
      transform: scale(0.85);
    }
    45% {
      transform: scale(1);
    }
    60% {
      transform: scale(0.95);
    }
    100% {
      transform: scale(0.9);
    }
  }
/* Loading screen end */
h6{
    font-weight:600;
}
hr{
    color: #888;
    width: 80%;
    margin-left: 143px;
    margin-top: 110px;
}
.p__copy{
    /* background-color: red; */
    text-align: center;
    color: #888;
    font-size: 18px;
    padding: 20px;
    padding-bottom: 30px;
}
.p__copy i{
    font-size: 18px;
}
.p__copy a{
    color: #888;
    font-weight: 600;

}